.button {
    -fx-font-weight: bold;
}

.rejt{
    visibility: hidden;
}

.elo{
    visibility: visible;
}

.kerek{
    
    -fx-border-radius: 10px 10px 0 0;
  -fx-background-radius: 10px 10px 0 0;
}